@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tw-animate-css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:var(--whity);
  color: white;
}

:root{
  --pehla: #fcf300;
  --dusra: #E2E1E1;
  --tisra:#A2D6F9;
  --goldy:#FFC600;
  --nila:#1e96fc;
  --bluebee: #072AC8;
  --blacky:#474747;
  --whity:#F3F3F3;

}

